<!DOCTYPE html> 
<html lang="no">
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="theme-color" content="#D52B1E" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Calligraffitti">
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="shortcut icon" href="/favicon.png" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/JQuery-Snowfall/1.7.4/snowfall.jquery.min.js"></script>
		<script src="/javascripts/jquery.shuffleLetters.js"></script>
		<script src="/javascripts/main.js"></script>
	</head> 
	<body>
		<div id="content">
			{{{body}}}
		</div>
		{{{flash}}}
	</body>
</html>