doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='shortcut icon' href='/images/favicon.png')
        script(src='/javascripts/jquery-2.0.3.min.js')
        script(src='/javascripts/snowfall.min.jquery.js')
        script(src='/javascripts/jquery.shuffleLetters.js')
        script(src='/javascripts/pixelate.js')
        script(src='/javascripts/main.js')
    body
        div#content
            block content