<!DOCTYPE html> 
<html>
	<head>
		<title>{{title}}</title> 
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='shortcut icon' href='/favicon.png' />
		<script src='/javascripts/libs/jquery/dist/jquery.min.js'></script>
        <script src='/javascripts/libs/jquery-snowfall/dist/snowfall.jquery.min.js'></script>
        <script src='/javascripts/libs/jquery-shuffle-letters-plugin/jquery.shuffleLetters.js'></script>
        <script src='/javascripts/main.js'></script>
	</head> 
	<body>
		<div id="content">
			{{{body}}}
		</div>
		{{{flash}}}
	</body>
</html>