doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='shortcut icon' href='/images/favicon.png')
        script(src='/javascripts/jquery-1.10.2.min.js')
        script(src='/javascripts/snowfall.min.jquery.js')
        script(src='/javascripts/main.js')
    body
        block content