extends layout

block content
  h1= "Registrer bruker"
  form(action='/register/save', method='post')
    div(data-role='fieldcontain')
        label(for='name') Navn
          input(id='navn',type='text',value='',placeholder='',name='navn')
    div(data-role='fieldcontain')
        label(for='calendar1') Kalenderluke 1
          input(id='calendar1',type='numeric',value='',placeholder='',name='calendar1')
    div(id='hiddendiv',data-role='fieldcontain')
        label(for='calendar2') Kalenderluke 2
          input(id='calendar2',type='text',value='',placeholder='',name='calendar2')
    div(data-role='fieldcontain')
      input(type='submit',value='Registrer',data-transition='fade', data-theme='c')