extends layout

block headerlinks
    script(src='/javascripts/winner.js')

block content
    h1 Vinneren er&hellip;
    #picture
        img#picture-img(src="/images/people/#{data.image}")
    h2#name= data.navn
    form(action='/winner/won', method='post')
        
        div(data-role='fieldcontain')
            input(id='id', type='hidden', value='#{data._id}', name='id')
        div(data-role='fieldcontain')
            input(type='submit',value='Erklær vinner')