body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
	font-size: 5em;
}

a, input[type="submit"] {
  color: #00B7FF;
  background: rgba(200,40,10,1);
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}