.title {
  font-size: 7rem;
  font-family: "Calligraffitti", cursive;
  color: var(--red);
  text-shadow: 0.125rem 0.125rem 0 var(--white);
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 4rem;
  }
}
