.welcome {
}

.input {
  border-radius: 0.1875rem;
  border: 0;
  box-shadow: 0 0.125rem 0 var(--grey-2);
  padding: 0.375rem;
  font-size: 2rem;
}

.button {
  color: var(--white);
  background: var(--red);
  box-shadow: 0 0.125rem 0 var(--darkerRed);
  padding: 0.625rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1.5rem;
  border: 0;
  position: relative;
  top: -0.1875rem;
  margin-left: 1rem;
  transition: all linear 0.1s;
  cursor: pointer;

  &:hover {
    color: var(--white);
    background: var(--lighterRed);
  }
}

.login {
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.calendars {
  margin-top: 4rem;
}

.link {
  display: inline-block;
  margin: 0 1rem;
  color: blue;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 767px) {
  .input {
    font-size: 1.5rem;
    width: 100%;
  }

  .button {
    font-size: 1rem;
    display: block;
    top: 1rem;
    margin: 0 auto;
  }
}
