@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto:wght@400;700&display=swap");

:root {
  --white: rgb(255, 255, 255);
  --red: rgb(213, 43, 30);
  --lighterRed: rgb(226, 56, 43);
  --darkerRed: rgb(200, 30, 17);
  --green: rgb(0, 180, 0);
  --yellow: rgb(253, 197, 109);
  --grey-1: rgb(224, 225, 221);
  --grey-2: rgb(201, 202, 200);
  --grey-3: rgb(173, 175, 175);
  --grey-4: rgb(77, 79, 83);
}

html {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--grey-1);
}

@media only screen and (max-width: 767px) {
  body {
    padding: 0 1rem;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
